<!DOCTYPE, html>
<html>
 <h1 title="They've got sass" style="color:turquoise;"> <center>What About Them</center></h1>

<center> <%= image_tag 'GreatWaveOffKanagawa.jpg' %> </center> 


<br>

<p1> <center>Eighty percent of the sea wolf's diet is seafood. Catch more fish. Eat more fish, bitches. </center></p1>

<br>

<center><%= link_to 'Homepage', root_path %></center>
</html>