<!DOCTYPE, html>
<html>
  
<h1 title="Especially from you" style="color:turquoise;"> <center>Sea Wolves: Taking no Shit</center> </h1>
<p1> <center> The Sea Wolves of British Columbia take their home in the sea and on the land.</center> </p1>

<center><%= image_tag('sea_wolf.jpg', style: "height: 100%; width: 100%") %></center>

<br>
<center><%= link_to 'About', pages_about_path %></center>
<br>



</html>